#micon-cont{
    width:1300px;
    max-width: 1300px;
    /* border:2px solid red; */
    /* height:30vh; */
    margin:30px auto;
    overflow-x: auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:20px;
}
#micon-cont::-webkit-scrollbar{
    display:none;
}
@media (max-width: 1320px){
    #micon-cont{
        width:95%;
    
        /* border:2px solid red; */
    }
    }
   
    