@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
body {
  margin: 0;
  font-family: "New Amsterdam", sans-serif;
  font-family: "Oxanium", sans-serif;

  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.margin-top{
  margin-top: 100px;
}
button{
  font-family: "New Amsterdam", sans-serif;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;

  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
